<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://scontent.fcgh39-1.fna.fbcdn.net/v/t1.0-9/36503247_2219297731419112_1508789442347794432_o.jpg?_nc_cat=102&cb=846ca55b-311e05c7&ccb=2&_nc_sid=84a396&_nc_eui2=AeGL-k1JRrhySS9PCxYyPoeHovgFpQscWjSi-AWlCxxaNDio4TUhq1-xC9q-k2p3Ijx2RQSinCnBbgRoPz08Gzqx&_nc_ohc=z7qZgfUC9D0AX8rg9Fb&_nc_ht=scontent.fcgh39-1.fna&oh=a2aa6f425aa7f87a794a785c834bd5ec&oe=5FEDD63E" alt="Card image cap">
        
    </div>    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Nicolas Neuwirt</h5>
      <p class="card-text text-center text-monospace">Dev Java Jr</p>

      <a href="https://www.linkedin.com/in/nicolas-neuwirt/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="blank_">LinkedIn</a>

      <a href="https://github.com/Niiicks" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>